<%= link_to potepan_product_path(product.id) do %>
  <div class="productImage clearfix">
    <%= image_tag(product.display_image.attachment(:product), :alt => product.name) %>
  </div>
  <div class="productCaption clearfix">
    <h5><%= product.name %></h5>
    <h3><%= product.display_price %></h3>
  </div>
<% end %>